<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--the tatrgets to write to-->
  <targets>
    <!--write Logs to file-->
    <target name="allfile" xsi:type="File"
            fileName="C:\Users\Adithya\source\repos\EmployeeManagementSystem\EmployeeManagementSystem\nlog-all-${shortdate}.log"/>
  </targets>
  <!--rules to map logger name to target-->
  <rules>
    <!--All Logs , Including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile"/>
    </rules>
</nlog>
      
